name: Prod Deployment

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - id: deploy
        name: Deploy to dokku
        uses: idoberko2/dokku-deploy-github-action@v1.0.1
        with:
          ssh-private-key: ${{ secrets.FMKO_GCP_DOKKU_KEY }}
          dokku-host: "34.93.23.75"
          ssh-port: "22"
          app-name: "books"
          git-push-flags: "--force"